body {
  margin: 0;
}

.App {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
}

.App-logo {
  margin-top: 5vh;
  height: 20vmin;
  pointer-events: none;
}

h3 {
  color: white;
}
