body {
  margin: 0;
}

.Sub {
  margin: 0;
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
}

.Sub-logo {
  margin-top: 5vh;
  height: 20vmin;
  pointer-events: none;
}

.Sub-text {
  color: white;
}
